<% if (typeof errors != 'undefined') { %>
<% errors.forEach((err) => { %>
<div class="alert">
   <p><%= err.msg %></p>
   <span>X</span>
</div>
<% }); %>
<% } %>


<% if (success_msg != '') { %>
<div class="alert">
   <p><%= success_msg %></p>
   <span>X</span>
</div>
<% } %>


<% if (error_msg != '') { %>
<div class="alert">
   <p><%= error_msg %></p>
   <span>X</span>
</div>
<% } %>


<% if (error != '') { %>
<div class="alert">
   <p><%= error %></p>
   <span>X</span>
</div>
<% } %>