<nav>
   <a href="/">
      <div class="logo"></div>
   </a>

   <ul>
      <li><a href="/me"><span>/</span>me</a></li>
      <li><a href="/search"><span>/</span>search</a></li>
      <li><a href="/logout"><span>/</span>logout</a></li>
   </ul>
</nav>