<nav class="navbar navbar-light shadow-sm p-2 mb-4 bg-white rounded" style="background-color: #ffffff;">
      <div class="container">
            <div class="logo navbar-brand">
                  <img src="/img/meme.png" class="d-inline-block align-top rounded" alt="">
            </div>
      </div>
</nav>