<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/css/navbar.css">
   <link rel="stylesheet" href="/css/post.css">
   <title>Make a Post - Just MEME</title>
</head>

<body>

   <%- include ('../partials/navbar') %>

   <div class="container space-top-1">
      <%- include ('../partials/alertMessage') %>

      <form action="/post" method="POST" enctype="multipart/form-data" spellcheck="false">
         <div class="input-form">
            <label for="description">Description</label>
            <textarea id="description" cols="50" rows="15" placeholder="write the description..."
               name="description"></textarea>
            <p>must less than 150 characters</p>
         </div>

         <div class="file-input-form">
            <label for="image-post">Image</label>
            <input type="file" id="image-post" name="picture">
         </div>

         <button type="submit" disabled>Post</button>
         <hr>
         <a href="/me">Cancel</a>
      </form>
   </div>

   <script src="/js/validate_form/validate_form_post.js"></script>

</body>

</html>