/* ! Alert */

.alert {
   margin: auto;
   width: 500px;
   padding: 13px;
   font-size: 15px;
   font-weight: bold;
   color: whitesmoke;
   margin-bottom: 35px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: orangered;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.alert span {
   cursor: pointer;
   font-size: 20px;
}

/* ! Alert */