/* ! Navbar */

nav {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 999;
   height: 65px;
   display: flex;
   position: fixed;
   overflow: hidden;
   align-items: center;
   justify-content: space-around;
   background-color: #15202b;
   box-shadow: 0 0 2px 4px #404a4d33;
}

nav ul {
   width: 15%;
   display: flex;
   justify-content: space-between;
}

nav ul li {
   display: inline;
   margin-right: -40px;
}

nav ul li span {
   margin-right: 2px;
}

nav ul li a {
   color: #ffffff;
   font-size: 20px;
   transition: 0.1s;
   letter-spacing: 2px;
   text-decoration: none;
   font-family: monospace;
}

nav ul li a:hover {
   color: #8a2be2;
}

nav .logo {
   width: 65px;
   height: 65px;
   transition: 0.1s;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: -1px 2px;
   background-image: url(../img/logo.png);
   box-shadow: 0 0 1px 1px #404a4d33;
}

nav .logo:hover {
   box-shadow: 0 0 5px 5px #404a4d33;
}

/* ! Navbar */