/* ! Container */

.container form {
   margin: auto;
   margin-bottom: 70px;
}

/* ! Container */



/* ! Form */
form {
   width: 650px;
}

form .input-form {
   color: white;
   margin-top: 32px;
}

form .input-form textarea {
   width: 100%;
   border: none;
   padding: 12px;
   outline: none;
   display: block;
   font-size: 17px;
   margin-top: 15px;
   color: whitesmoke;
   white-space: pre-line;
   box-sizing: border-box;
   background-color: rgb(37, 51, 65);
   transition: .2s;
}

form .input-form textarea:focus {
   background-color: #38444d;
}

form .input-form textarea::placeholder {
   font-family: monospace;
}

form .input-form label {
   font-size: 20px;
   font-family: monospace;
}


/* file input */
form .file-input-form {
   color: white;
   margin-top: 35px;
}

form .file-input-form label {
   font-size: 20px;
   font-family: monospace;
}

form .file-input-form input {
   width: 100%;
   padding: 12px;
   outline: none;
   cursor: pointer;
   font-size: 15px;
   margin-top: 15px;
   box-sizing: border-box;
   font-family: monospace;
   background-color: rgb(37, 51, 65);
}


form button {
   width: 100%;
   padding: 10px;
   border: none;
   outline: none;
   cursor: default;
   font-size: 18px;
   margin-top: 45px;
   color: whitesmoke;
   margin-bottom: 10px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: rgb(37, 51, 65);
   transition: 0.2s;
}

form button:hover {
   background-color: #38444d;
}

form a {
   width: 100%;
   border: none;
   padding: 11px;
   outline: none;
   display: block;
   font-size: 18px;
   margin-top: 16px;
   color: whitesmoke;
   text-align: center;
   text-decoration: none;
   font-family: monospace;
   box-sizing: border-box;
   background-color: rgb(37, 51, 65);
}

form a:hover {
   background-color: #38444d;
}

form hr {
   border: 1px solid rgb(37, 51, 65);
}

/* ! Form */




/* ! Validation Style */

/* make elemen p disappear, when user not type any characters */
textarea+p {
   height: 0;
   opacity: 0;
   font-size: 16px;
   color: orangered;
   line-height: 23px;
   text-align: center;
   font-family: monospace;
   transition: .1s;
}

/* when valid, add claass invalid */
textarea.invalid+p {
   opacity: 1;
   height: auto;
   font-size: 16px;
   margin-top: 10px;
   color: orangered;
   line-height: 23px;
   text-align: center;
   font-family: monospace;
   transition: .1s;
}

/* ! Validation Style */



/* ! Alert */

.alert {
   margin: auto;
   width: 700px;
   padding: 13px;
   font-size: 16px;
   font-weight: bold;
   color: whitesmoke;
   margin-bottom: 55px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: orangered;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.alert span {
   cursor: pointer;
   font-size: 20px;
}

/* ! Alert */