/* ! User profile */

.user-profile {
   width: 80%;
   color: white;
   margin: auto;
   display: flex;
   justify-content: center;
}

.profile-picture {
   width: 500px;
   margin-right: 50px;
}

.profile-picture img {
   width: 100%;
   border: 5px solid whitesmoke;
}

.user-data p {
   color: black;
   padding: 16px;
   font-size: 17px;
   margin-left: 10px;
   margin-bottom: 41.3px;
   font-family: monospace;
   background-color: whitesmoke;
   text-shadow: 1px 1px 1px rgba(64, 74, 77, 0.1);
}

.user-data p a {
   color: black;
}

.user-data p a:hover {
   color: blue;
}

.user-data p span {
   margin-left: 6px;
}

hr {
   width: 60%;
   margin-top: 90px;
   margin-bottom: 90px;
   border: 1px dashed whitesmoke;
}

/* ! User profile */



/* ! User post */

.user-post {
   width: 70%;
   margin: auto;
   display: flex;
   color: white;
   margin-bottom: 85px;
   padding: 27px 0 27px 0;
   box-sizing: border-box;
   justify-content: center;
   background-color: rgb(25, 39, 52);
}

.image-post {
   margin-right: 70px;
}

.image-post img {
   width: 500px;
}

.description-post {
   width: 680px;
}

.description-post .date {
   font-size: 19px;
   margin-bottom: 8px;
   font-family: monospace;
   text-shadow: 2px 2px 2px black;
}

.description-post .description {
   font-size: 16.8px;
   line-height: 26px;
   color: whitesmoke;
   white-space: pre-line;
   font-family: monospace;
}

/* ! User post */



/* Another Style */
.space-top {
   margin-top: 180px;
}