/* User profile */

.user-profile {
   width: 80%;
   margin: auto;
   display: flex;
   color: #ffffff;
   justify-content: center;
}

.profile-picture {
   width: 500px;
   margin-right: 50px;
}

.profile-picture img {
   width: 100%;
   border: 5px solid #f5f5f5;
}

.user-data p {
   padding: 16px;
   color: #000000;
   font-size: 17px;
   margin-left: 10px;
   margin-bottom: 41.3px;
   font-family: monospace;
   background-color: #f5f5f5;
   text-shadow: 1px 1px 1px #404a4d1a;
}

.user-data p a {
   color: #000000;
}

.user-data p a:hover {
   color: #0000ff;
}

.user-data p span {
   margin-left: 6px;
}

hr {
   width: 60%;
   margin-top: 90px;
   margin-bottom: 90px;
   border: 1px dashed #f5f5f5;
}

/* User profile */



/* User post */

.user-post {
   width: 70%;
   margin: auto;
   display: flex;
   color: #ffffff;
   margin-bottom: 85px;
   padding: 27px 0 27px 0;
   box-sizing: border-box;
   justify-content: center;
   background-color: #192734;
}

.image-post {
   margin-right: 70px;
}

.image-post img {
   width: 500px;
}

.description-post {
   width: 680px;
}

.description-post .date {
   font-size: 19px;
   margin-bottom: 8px;
   font-family: monospace;
   text-shadow: 2px 2px 2px #000000;
}

.description-post .description {
   color: #f5f5f5;
   line-height: 26px;
   font-size: 16.8px;
   white-space: pre-line;
   font-family: monospace;
}

/* User post */


/* Another Style */
.space-top {
   margin-top: 180px;
}