/* Container */

.container form {
   margin: auto;
   margin-bottom: 70px;
}

/* Container */


/* Form */

form {
   width: 360px;
}

form .input-form {
   color: #ffffff;
   margin-top: 32px;
}

form .input-form input {
   width: 100%;
   border: none;
   padding: 12px;
   outline: none;
   display: block;
   color: #f5f5f5;
   font-size: 17px;
   margin-top: 15px;
   box-sizing: border-box;
   background-color: #253341;
   transition: background-color 0.2s;
}

form .input-form input:focus {
   background-color: #38444d;
}

form .input-form input::placeholder {
   font-family: monospace;
}

form .input-form label {
   font-size: 20px;
   font-family: monospace;
}

form button {
   width: 100%;
   border: none;
   padding: 10px;
   outline: none;
   color: #f5f5f5;
   font-size: 18px;
   cursor: default;
   margin-top: 45px;
   margin-bottom: 10px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: #253341;
   transition: color 0.2s, background-color 0.2s;
}

form button:hover {
   background-color: #38444d;
}

form button:disabled {
   pointer-events: none;
}

form a {
   width: 100%;
   border: none;
   padding: 11px;
   outline: none;
   display: block;
   color: #f5f5f5;
   font-size: 18px;
   margin-top: 16px;
   text-align: center;
   text-decoration: none;
   font-family: monospace;
   box-sizing: border-box;
   background-color: #253341;
   transition: color 0.2s, background-color 0.2s;
}

form a:hover {
   background-color: #38444d;
}

form hr {
   border: 1px solid #253341;
}

/* Form */


/* Validation Style */

/* make elemen p disappear, when user not type any characters */
input+p {
   height: 0;
   opacity: 0;
   color: #ff4500;
   font-size: 16px;
   transition: 0.2s;
   line-height: 23px;
   text-align: center;
   font-family: monospace;
}

/* when user input is invalid, add class invalid */
input.invalid+p {
   opacity: 1;
   height: auto;
   color: #ff4500;
   margin-top: 10px;
   font-size: 16.5px;
   line-height: 23px;
   text-align: center;
   font-family: monospace;
}

/* Validation Style */