.container {
   margin: 200px;
   text-align: center;
   font-family: monospace;
}

h2 {
   color: white;
   font-size: 50px;
   margin-bottom: 18px;
}

a {
   font-size: 25px;
   color: lightskyblue;
   text-decoration: none;
   transition: .1s;
}

a:hover {
   color: blueviolet;
   text-decoration: underline;
}

span {
   font-size: 30px;
}