* {
      font-family: Ubuntu;
      font-size: 18px;
}

body {
      background-color: rgb(238, 238, 238);
}

a.logo img {
      width: 55px;
      height: 55px;
}

.logo img {
      width: 65px;
      height: 65px;
}

a.profile-user {
      color: black;
      font-size: 16px;
      font-family: Ubuntu;
      font-weight: 450;
}

a.profile-user:hover {
      color: rgb(108, 117, 125);
}

a.nav-link i:hover {
      color: rgb(108, 117, 125);
}

span.name {
      font-size: 16px;
}

.description {
      font-family: sans-serif;
      line-height: 23px;
      font-weight: 500;
      font-size: 17px;
      margin-top: -40px;
      margin-bottom: -18px;
      color: #262626;
      white-space: pre-line;
}

.post-time span {
      margin-bottom: -14px;
}

label.label-input {
      color: rgb(131, 138, 142);
}

.space-top {
      margin-top: 70px;
}

.space-top-long {
      margin-top: 240px;
}