* {
      font-family: Ubuntu;
}

body {
      background-color: #f5eeee;
      font-size: 15px;
}


.navbar-nav {
      margin-left: 890px;
}

a.profile-user {
      color: black;
      font-size: 16px;
}

a.profile-user:hover {
      color: #FAED33;
}

a.nav-link i:hover {
      color: #FAED33;
}