<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/css/navbar.css">
   <link rel="stylesheet" href="/css/alert.css">
   <link rel="stylesheet" href="/css/edit-profile.css">
   <title>Edit Profile - Just MEME</title>
</head>

<body>

   <%- include ('../partials/navbar') %>

   <div class="container space-top-1">
      <%- include ('../partials/alert-message') %>

      <form method="POST" action="/user/edit" enctype="multipart/form-data" spellcheck="false">
         <div class="input-form">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="enter username" autocomplete="off" value="<%= name %>"
               name="name" autofocus>
            <p>username must be and contain 5 - 12 characters and no whitespace</p>
         </div>

         <div class="file-input-form">
            <label for="profile-picture">Profile Picture</label>
            <input type="file" id="profile-picture" name="picture">
         </div>

         <button type="submit">Edit</button>
         <hr>
         <a href="/me">Cancel</a>
      </form>
   </div>

   <script src="/js/validate-form/validate-form-edit-profile.js"></script>

</body>

</html>