<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="/css/validate_style/style.css">
      <title>Register - Just MEME</title>
</head>

<body>
      <%- include ('../partials/header.ejs') %>

      <div class="container mt-5">
            <div class="row justify-content-center">
                  <div class="col-6">
                        <%- include ('../partials/message') %>
                  </div>
            </div>
      </div>

      <div class="container">
            <div class="row justify-content-center mt-4 mb-2">
                  <div class="col-6">
                        <h1 class="text-center">Register</h1>
                        <hr>
                  </div>
            </div>
      </div>

      <div class="container">
            <div class="row justify-content-center">
                  <div class="col-4 mt-2">
                        <form action="/user/register" method="POST" spellcheck="false">
                              <div class="form-group">
                                    <label for="name">Username</label>
                                    <input type="text" class="form-control form-control-lg" id="name"
                                          placeholder="enter name" autocomplete="off" name="name" autofocus>
                                    <p>username must be and contain 5 - 12 characters and no whitespace</p>
                              </div>

                              <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control form-control-lg" id="email"
                                          placeholder="enter email" autocomplete="off" name="email">
                                    <p>email must be a valid address, e.g. me@mydomain.com</p>
                              </div>

                              <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control form-control-lg" id="password"
                                          placeholder="enter password" name="pass">
                                    <p>password must alphanumeric (@, _ and - are also allowed) and be 6 or more
                                          characters
                                    </p>
                              </div>

                              <div class="form-group">
                                    <label for="password2">Password Confirm</label>
                                    <input type="password" class="form-control form-control-lg" id="password2"
                                          placeholder="enter password confirm" name="pass2" disabled>
                                    <p>must be same with the first password</p>
                              </div>

                              <button type="submit"
                                    class="register-btn mt-5 mb-2 btn btn-outline-primary btn-block btn-lg"
                                    disabled>Register</button>
                              <hr>
                              <a href="/user/login" class="mt-2 btn btn-outline-secondary btn-block btn-lg">Login</a>
                        </form>
                  </div>
            </div>
      </div>
<<<<<<< HEAD
=======

      <script src="/js/validate_form/validate_form_register.js"></script>
>>>>>>> validate_form
</body>

</html>