<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Register - Just MEME</title>
</head>

<body>
      <%- include ('../partials/header.ejs') %>

      <div class="container mt-5">
            <div class="row justify-content-center">
                  <div class="col-6">
                        <%- include ('../partials/message') %>
                  </div>
            </div>
      </div>

      <div class="container">
            <div class="row justify-content-center mt-4 mb-2">
                  <div class="col-6">
                        <h1 class="text-center">Register</h1>
                        <hr>
                  </div>
            </div>
      </div>

      <div class="container">
            <div class="row justify-content-center">
                  <div class="col-4 mt-2">
                        <form action="/user/register" method="POST" enctype="multipart/form-data" spellcheck="false">
                              <div class="form-group">
                                    <label for="name">Username</label>
                                    <input type="text" name="name" class="form-control form-control-lg" id="name"
                                          placeholder="enter name" autofocus autocomplete="off">
                              </div>
                              <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control form-control-lg" id="email"
                                          placeholder="enter email" name="email" autocomplete="off">
                              </div>
                              <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control form-control-lg" id="password"
                                          placeholder="enter password" name="pass">
                              </div>
                              <div class="form-group">
                                    <label for="password2">Confirm Password</label>
                                    <input type="password" class="form-control form-control-lg mb-1" id="password2"
                                          placeholder="confirm password" name="pass2">
                              </div>
                              <button type="submit"
                                    class="mt-5 mb-2 btn btn-outline-primary btn-block btn-lg">Register</button>
                              <hr>
                              <a href="/user/login" class="mt-2 btn btn-outline-secondary btn-block btn-lg">Login</a>
                        </form>
                  </div>
            </div>
      </div>
      <br><br>
</body>

</html>