<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Edit Profile - Just MEME</title>
</head>

<body>
      <%- include ('../partials/header2.ejs') %>

      <div class="space-top container">
            <div class="row justify-content-center">
                  <div class="col-6">
                        <%- include ('../partials/message') %>
                  </div>
            </div>
      </div>

      <div class="container">
            <div class="row justify-content-center mt-5 mb-3">
                  <div class="col-6">
                        <h1 class="text-center">Edit Your Profile</h1>
                        <hr>
                  </div>
            </div>
      </div>

      <div class="container">
            <div class="row justify-content-center mb-5">
                  <div class="col-4">
                        <form method="POST" action="/user/edit" enctype="multipart/form-data" spellcheck="false">
                              <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control form-control-lg" id="name"
                                          placeholder="enter name" name="name" autocomplete="off" value="<%= name %>">
                                    <div class=" custom-file mt-4 mb-2">
                                          <input type="file" class="custom-file-input form-control form-control-lg"
                                                id="customFile" name="picture"
                                                accept="image/x-png, image/gif, image/jpeg, image/jpg">
                                          <label class="label-input custom-file-label" for="customFile">choose
                                                your profile picture</label>
                                    </div>
                              </div>
                              <button type="submit"
                                    class="font-weight-bold mt-4 mb-2 btn btn-outline-primary btn-block btn-lg">Edit</button>
                              <hr>
                              <a href="/me"
                                    class="font-weight-bold mt-2 btn btn-outline-secondary btn-block btn-lg">Cancel</a>
                        </form>
                  </div>
            </div>
      </div>

</body>

</html>