<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Page Not Found</title>
</head>

<body>

      <% include ../partials/header2.ejs %>

      <br><br><br><br><br><br><br>

      <div class="container mt-4">
            <div class="row justify-content-center">
                  <div class="col-6 text-center">
                        <img src="/img/meme.png" alt="">
                        <h1>Sorry can't find that!</h1>
                  </div>
            </div>
      </div>

</body>

</html>