<% include ../partials/header2.ejs %>

<br><br><br><br><br><br><br>

<div class="container mt-4">
      <div class="row justify-content-center">
            <div class="col-6 text-center">
                  <img src="/img/meme.png" alt="">
                  <h1>Sorry can't find that!</h1>
            </div>
      </div>
</div>